In [1]:
## test json
import json

In [ ]:
# with open('ais-processed-log-2014-01.json/ais-processed-log-2014-01.json') as f:
#     j = json.load(f)
# len(j)

In [ ]:
!pip install psycopg2
!pip install sqlalchemy

In [2]:
import psycopg2
from sqlalchemy import create_engine
import os

In [ ]:
import psycopg2
from sqlalchemy import create_engine
import os

# Testing connection and engine
conn = psycopg2.connect(database="mmsi",
                        host="localhost",
                        user="postgres",
                        password=os.environ.get("PG_PASSWORD"),
                        port=5432)


## engine to write to postgres from dataframe
engine= create_engine(f'postgresql://postgres:{os.environ.get("PG_PASSWORD")}@localhost:5432/mmsi')
conn, engine

In [ ]:
# cursor = conn.cursor()
# cursor.execute("commit")
# cursor.execute("create table test (id int primary key not null, name varchar(256))")
# cursor.execute("drop table test")

In [ ]:
# cursor.fetchall()
engine

In [7]:
import pandas as pd, numpy as np

In [8]:
with open('dataOut_msg1_202209_full1mil.json','rb') as f:
    newfile = json.load(f)
len(newfile)

1038606

In [9]:
df_type1 = pd.DataFrame(newfile)
df_type1

,type,mmsi,status,turn,accuracy,lon,lat,time
0,1,563066530,0.0,-128.0,0.0,103.75931,1.27341,2022-09-01T00:00:10Z
1,1,563021460,0.0,-128.0,0.0,103.76273,1.26776,2022-09-01T00:00:10Z
2,1,566657000,8.0,-128.0,1.0,103.76005,1.29140,2022-09-01T00:00:10Z
3,1,563073340,0.0,-127.0,0.0,103.65893,1.28036,2022-09-01T00:00:10Z
4,1,566386000,0.0,0.0,0.0,103.74943,1.23873,2022-09-01T00:00:10Z
...,...,...,...,...,...,...,...,...
1038601,1,566687000,8.0,0.0,1.0,103.62879,1.25453,2022-09-02T02:56:17Z
1038602,1,563066530,0.0,-128.0,0.0,103.74430,1.24158,2022-09-02T02:56:17Z
1038603,1,563009860,0.0,-128.0,1.0,103.76022,1.29093,2022-09-02T02:56:18Z
1038604,1,566377096,15.0,0.0,1.0,103.75331,1.30632,2022-09-02T02:56:18Z
1038605,1,414482000,3.0,-128.0,1.0,103.72185,1.29890,2022-09-02T02:56:18Z

In [ ]:
with open('dataOut_msg5_202209_full.json','rb') as f:
    newfile = json.load(f)
len(newfile)

In [ ]:
df_type5 = pd.DataFrame(newfile)

In [ ]:
df_type5

# Create dim_vessel_type

In [ ]:
# Create dim_vessel_type

def create_dim_vessel_type(df):
    df['time'] = pd.to_datetime(df['time'])

    # Sort by IMO and time to ensure the records are in the correct order
    df.sort_values(by=['imo', 'time'], inplace=True)

    # Create vessel_id (you might want to use a more sophisticated method to generate unique IDs)
    df['vessel_id'] = range(1, len(df) + 1)

    # Initialize 'start_date' with the 'time' column
    df['start_date'] = df['time']

    # Initialize 'end_date' and 'is_current' columns
    df['end_date'] = pd.NaT
    df['is_current'] = False

    # Function to determine the end date and is_current flag
    def set_end_date_and_current_flag(group):
        # Iterate through the grouped rows to find changes and set the end_date for previous row
        for i in range(len(group) - 1):
            if any(group.iloc[i][['mmsi', 'callsign', 'shipname', 'shiptype']] != group.iloc[i + 1][['mmsi', 'callsign', 'shipname', 'shiptype']]):
                group.iat[i, group.columns.get_loc('end_date')] = group.iloc[i + 1]['start_date']
        # Set the is_current flag to True for the last row in each group
        group.iat[-1, group.columns.get_loc('is_current')] = True
        return group

    # Apply the function to each group of records with the same IMO
    df = df.groupby('imo').apply(set_end_date_and_current_flag).reset_index(drop=True)

    # Now create the 'vessels' dimension table from the df
    vessels_dimension = df[['vessel_id', 'mmsi', 'imo', 'callsign', 'shipname', 'shiptype', 'start_date', 'end_date', 'is_current']]
    vessels_dimension.to_csv("dim_vessel_type.csv")
    return vessels_dimension.head()

create_dim_vessel_type(df_type5)

In [ ]:
# Check number of unique IMOs
len(df_type5["imo"].unique())
grouped = df_type5.groupby('mmsi').size()
grouped_df = grouped.reset_index(name='Counts')
grouped_df["Counts"]

In [ ]:
df = pd.read_csv("dim_vessel_type.csv")
df.head()

In [ ]:
df = df.sort_values(by=['imo', 'start_date'])

# Loop through the DataFrame, starting from the second row
for i in range(1, len(df)):
    # Check if the 'imo' matches with the previous row and 'is_current' is not True
    if df.iloc[i]['imo'] == df.iloc[i-1]['imo'] and not df.iloc[i]['is_current']:
        # Set the 'end_date' of the previous row to the 'start_date' of the current row
        df.at[i-1, 'end_date'] = df.iloc[i]['start_date']

# Now handle the case for the last entry if 'is_current' is True
if df.iloc[-1]['is_current']:
    df.at[len(df) - 1, 'end_date'] = pd.NaT  # or use 'None' or 'pd.NA'

# Output the modified DataFrame
df

In [ ]:
df[df["imo"] == 9301988]

In [ ]:
df.to_csv("dim_vessel_type2.csv")

In [ ]:
df_not_current = df[df["is_current"]==False]
df_not_current["end_date"].dropna()
def transform_not_current(df):

    
    df['start_date'] = pd.to_datetime(df['start_date'])
    df['end_date'] = pd.to_datetime(df['end_date'])

    # Sort the dataframe
    df.sort_values(by=['mmsi', 'imo', 'callsign', 'shipname', 'shiptype', 'start_date'], inplace=True)

    # Find where the 'island' starts (where a new group should be started)
    df['new_island'] = (
        (df['mmsi'] != df['mmsi'].shift()) |
        (df['imo'] != df['imo'].shift()) |
        (df['callsign'] != df['callsign'].shift()) |
        (df['shipname'] != df['shipname'].shift()) |
        (df['shiptype'] != df['shiptype'].shift()) |
        (df['end_date'].shift() < df['start_date'] - pd.Timedelta(days=1))
    )

    # Cumulative sum to identify groups
    df['group'] = df['new_island'].cumsum()

    # Group by the new identifier and take min start_date and max end_date
    grouped = df.groupby(['group', 'mmsi', 'imo', 'callsign', 'shipname', 'shiptype']).agg({
        'start_date': 'min',
        'end_date': 'max',
        'is_current': 'max',
        # Preserving 'vessel_id' by taking the first one in the group.
        # This may need to be adjusted depending on how you want to handle 'vessel_id'.
        'vessel_id': 'first'
    }).reset_index()

    # You can drop the 'group' column if it's no longer needed
    grouped.drop('group', axis=1, inplace=True)

    print(grouped)
    return grouped


df_not_current = transform_not_current(df_not_current)

In [ ]:
df_not_current[df_not_current["imo"]==9301988]

In [ ]:
df[df["is_current"]]

In [ ]:
df_current = df[df["is_current"]]
def process_end_date(df):
    # Assuming df is your DataFrame
    df['start_date'] = pd.to_datetime(df['start_date'])
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')  # Converts NaT to NaT, and invalid parsing will be set as NaT

    # Set NaT in end_date to December 31, 9999
    far_future_date = pd.Timestamp.max
    df['end_date'].fillna(far_future_date, inplace=True)
    return df[["vessel_id", "mmsi", "imo", "callsign", "shipname", "shiptype", "start_date", "end_date", "is_current"]]

df_current = process_end_date(df_current)
df_current

In [ ]:
df_not_current = df_not_current[["vessel_id", "mmsi", "imo", "callsign", "shipname", "shiptype", "start_date", "end_date", "is_current"]]
df_not_current

In [ ]:
df_dim_vessel_type = pd.concat([df_current, df_not_current], ignore_index=True)
df_dim_vessel_type

In [ ]:
import uuid

def try_change_id(unioned_df):
    unioned_df['vessel_id'] = [uuid.uuid4() for _ in range(len(unioned_df))]
    return unioned_df

df_test = try_change_id(df_dim_vessel_type)
df_test

In [ ]:
df_test.to_csv("dim_vessel_type_final.csv")

In [ ]:
df_test['is_current'] = df_test['is_current'].astype(int)
dim_vessel_type_final = df_test

# Create dim_location

In [ ]:
df_type1.head()

In [ ]:
import uuid

df_location = df_type1[["lon", "lat"]]
df_location = df_location[['lon', 'lat']].drop_duplicates().reset_index(drop=True)

# Create a unique ID by concatenating 'lon' and 'lat' with an underscore or other separator
df_location['location_id'] = df_location['lon'].astype(str) + '_' + df_location['lat'].astype(str)
df_location['location_id'] = [uuid.uuid4() for _ in range(len(df_location))]
# Add empty columns 'grid' and 'port'
df_location['grid'] = ''
df_location['port'] = ''

df_location

In [ ]:
df_location = df_location[["location_id", "lon", "lat", "grid", "port"]]
df_location.to_csv("dim_location.csv")

# Create dim_date

In [ ]:
df_date["date"] = pd.to_datetime(df_type1['time'])
df_date = df_type1["time"].date
df_date["time"] = df_date["time"].drop_duplicates().reset_index(drop=True)
df_date

In [ ]:
def create_dim_date(df):
    df['time'] = pd.to_datetime(df['time'])

    # Create a new DataFrame for the date dimension table
    date_dimension = pd.DataFrame(df['time'].dt.date.unique(), columns=['date'])

    # Drop duplicates - not needed as 'unique()' already takes care of that
    # date_dimension = date_dimension.drop_duplicates()

    # Add new columns
    date_dimension['day'] = date_dimension['date'].apply(lambda d: d.day)
    date_dimension['month'] = date_dimension['date'].apply(lambda d: d.month)
    date_dimension['year'] = date_dimension['date'].apply(lambda d: d.year)
    date_dimension['day_of_week'] = date_dimension['date'].apply(lambda d: d.weekday())  # Monday=0, Sunday=6
    date_dimension['weekend'] = date_dimension['day_of_week'].apply(lambda d: d >= 5)  # Assuming 5 and 6 are weekend
    return date_dimension

df_testing = create_dim_date(df_type1)
df_testing2 = create_dim_date(df_type5)

In [ ]:
df_dim_date = pd.concat([df_testing, df_testing2], ignore_index=True)
df_dim_date

In [ ]:
import pandas as pd

# Define the start and end dates for your date range
start_date = '2022-08-01'
end_date = '2023-12-31'

# Create a date range
date_range = pd.date_range(start=start_date, end=end_date)

# Create the date dimension DataFrame
dim_date = pd.DataFrame({'date': date_range})

# Extract date components
dim_date['day'] = dim_date['date'].dt.day
dim_date['month'] = dim_date['date'].dt.month
dim_date['year'] = dim_date['date'].dt.year
dim_date['day_of_week'] = dim_date['date'].dt.dayofweek  # Monday=0, Sunday=6

# Define the weekend: Saturday (5) or Sunday (6)
dim_date['weekend'] = dim_date['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)
dim_date["date_id"] = dim_date["date"].astype(str)
dim_date = dim_date[["date_id", "date", "day", "month", "year", "day_of_week", "weekend"]]
# Display the resulting DataFrame
dim_date.to_csv("dim_date.csv")

In [ ]:
dim_date

# Create dim_time

In [ ]:
import pandas as pd

# Create a time range for a single day with a frequency of one second
time_range = pd.date_range(start='00:00:00', end='23:59:59', freq='S')

# Create the time dimension DataFrame
dim_time = pd.DataFrame(time_range, columns=['timestamp'])

# Extract time components
dim_time['hour'] = dim_time['timestamp'].dt.hour
dim_time['minute'] = dim_time['timestamp'].dt.minute
dim_time['second'] = dim_time['timestamp'].dt.second

# Generate a 'time_id' in the format 'HH:MM:SS'
dim_time['time_id'] = dim_time['timestamp'].dt.strftime('%H:%M:%S')

# Create a 'time' column with time objects
dim_time['time'] = dim_time['timestamp'].dt.time

# Additional useful attributes
dim_time['is_midnight'] = (dim_time['hour'] == 0) & (dim_time['minute'] == 0) & (dim_time['second'] == 0)
dim_time['is_noon'] = (dim_time['hour'] == 12) & (dim_time['minute'] == 0) & (dim_time['second'] == 0)

# Convert boolean columns to integer (1 for True, 0 for False)
dim_time['is_midnight'] = dim_time['is_midnight'].astype(int)
dim_time['is_noon'] = dim_time['is_noon'].astype(int)

# Optionally, add a column for AM/PM indicator
dim_time['am_pm'] = dim_time['hour'].apply(lambda x: 'AM' if x < 12 else 'PM')

# You can drop the 'timestamp' column if it's no longer needed
dim_time.drop('timestamp', axis=1, inplace=True)
dim_time = dim_time[["time_id", "time", "hour", "minute", "second", "is_noon", "is_midnight", "am_pm"]]

# Show the resulting DataFrame
dim_time.to_csv("dim_time.csv")

# Create Fact Type 5

In [ ]:
df_type5

In [ ]:
df_type5['time'] = pd.to_datetime(df_type5['time'])

# Create 'time_id' column as a string representation of time
df_type5['time_id'] = df_type5['time'].dt.strftime('%H:%M:%S')

# Create 'date_id' column as a string representation of date
df_type5['date_id'] = df_type5['time'].dt.strftime('%Y-%m-%d')

df_type5.head()

In [ ]:
dim_vessel_type_current = df_dim_vessel_type[df_dim_vessel_type["is_current"] == 1]
dim_vessel_type_reduced = dim_vessel_type_current[["imo", "vessel_id"]]
df_type5 = df_type5.merge(dim_vessel_type_reduced, on='imo', how='left')
df_type5.head()

In [ ]:
df_type5['time'] = pd.to_datetime(df_type5['time'])
df_type5 = df_type5.sort_values('time', ascending=True)
df_type5['message_type_5_id'] = [uuid.uuid4() for _ in range(len(df_type5))]
df_type5 = df_type5[["message_type_5_id", "date_id", "time_id", "vessel_id", "to_bow", "to_stern", "to_port", "to_starboard", "month", "day", "hour", "minute", "draught", "destination"]]
df_type5.head()

In [ ]:
df_type5

In [ ]:
rename_columns_type5 = {
    "month" : "eta_month",
    "day" : "eta_day",
    "hour" : "eta_hour",
    "minute" : "eta_minute",
    "draught" : "eta_draught",
    "destination" : "eta_destination"
}

df_type5 = df_type5.rename(columns = rename_columns_type5)
df_type5.to_csv("fact_messages_type_5.csv")

# Create Fact Type 1

In [10]:
df_type1.head()

,type,mmsi,status,turn,accuracy,lon,lat,time
0,1,563066530,0.0,-128.0,0.0,103.75931,1.27341,2022-09-01T00:00:10Z
1,1,563021460,0.0,-128.0,0.0,103.76273,1.26776,2022-09-01T00:00:10Z
2,1,566657000,8.0,-128.0,1.0,103.76005,1.29140,2022-09-01T00:00:10Z
3,1,563073340,0.0,-127.0,0.0,103.65893,1.28036,2022-09-01T00:00:10Z
4,1,566386000,0.0,0.0,0.0,103.74943,1.23873,2022-09-01T00:00:10Z

In [11]:
#dim_vessel_type_current = df_dim_vessel_type[df_dim_vessel_type["is_current"]]
dim_vessel_type_1 = dim_vessel_type_current[["imo", "vessel_id", "mmsi"]]
df_type1_test = df_type1.merge(dim_vessel_type_1, on='mmsi', how='left')
df_type1_missing_imo = df_type1_test[df_type1_test["imo"].isna()]
df_type1_missing_imo

NameError: name 'dim_vessel_type_current' is not defined

In [ ]:
df_missing_imo = pd.DataFrame(df_type1_missing_imo["mmsi"].unique(), columns=["mmsi"])
df_missing_imo.to_csv("mmsi_of_missing_imo.csv")
df_missing_imo

In [12]:
df_scraped_missing_imo = pd.read_csv("scraped_missing_imo.csv")
df_scraped_missing_imo

,Unnamed: 0,shipname,IMO,MMSI,Flag,Call Sign,Size,GT,DWT,Build,Status
0,0,PIL0T GP57,---,563021460,/icons/flags2/24/SG.png,SP1396J,14 x 5 m,---,---,---,Active
1,1,FEI FENG(SC4918F),---,563069420,/icons/flags2/24/SG.png,---,19 x 4 m,---,---,---,Active
2,2,MPA 1,---,563070810,/icons/flags2/24/SG.png,9V6698,16 x 5 m,---,---,---,Active
3,3,MPA 3,---,563025850,/icons/flags2/24/SG.png,9V6702,---,---,---,---,Active
4,4,KUANG WIN 3,---,416004856,/icons/flags2/24/TW.png,---,40 x 8 m,---,---,---,Active
...,...,...,...,...,...,...,...,...,...,...,...
349,349,KENKI 51,---,563065180,/icons/flags2/24/SG.png,9V5800,15 x 4 m,---,---,---,Active
350,350,MT. JOHN CAINE,9045431,525019550,/icons/flags2/24/ID.png,PNJA,160 x 25 m,"12,317Tons","18,056Tons",1993( 30 years old ),Active
351,351,TB.VARUNA BRAVE,---,525022315,/icons/flags2/24/ID.png,YDA3675,22 x 7 m,---,---,---,Active
352,352,SPEEDY DOLPHIN,---,542582110,/icons/flags2/24/NU.png,E6VW2,33 x 10 m,---,---,---,Active
353,353,HYUNDAI COSMOPIA,9155157,538009551,/icons/flags2/24/MH.png,V7A4880,289 x 50 m,"113,998Tons","77,591Tons",2000( 23 years old ),Active

In [ ]:
dim_vessel_type_final.head()

In [14]:
import uuid
df_scraped_missing_imo = df_scraped_missing_imo.rename(columns=
                                                       {
                                                           "IMO":"imo", "Call Sign": "callsign", "MMSI":"mmsi"
                                                       })
df_scraped_missing_imo["vessel_id"] = [uuid.uuid4() for _ in range(len(df_scraped_missing_imo))]
df_scraped_missing_imo["start_date"] = pd.Timestamp.min
df_scraped_missing_imo["end_date"] = pd.Timestamp.max
df_scraped_missing_imo["is_current"] = 1
df_scraped_missing_imo["shiptype"] = -1
df_scraped_missing_imo = df_scraped_missing_imo[["vessel_id", "mmsi", "imo", "callsign", "shipname", "shiptype","start_date", "end_date", "is_current"]]
df_scraped_missing_imo.head()

,vessel_id,mmsi,imo,callsign,shipname,shiptype,start_date,end_date,is_current
0,f5533a4d-fa21-45ba-9e23-2de80060c752,563021460,---,SP1396J,PIL0T GP57,-1,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
1,61998d47-3d3b-46fd-b162-adc645c07c88,563069420,---,---,FEI FENG(SC4918F),-1,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
2,6added48-6580-47ae-b1e4-2bba2f699f75,563070810,---,9V6698,MPA 1,-1,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
3,75e7c653-b9b5-45f3-8318-7680bed80e45,563025850,---,9V6702,MPA 3,-1,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
4,8b77c2ef-9915-4fde-b58b-f684e1e86e03,416004856,---,---,KUANG WIN 3,-1,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1

In [15]:
dim_vessel = pd.read_csv("dim_vessel_type_final.csv")
dim_vessel = dim_vessel.drop(columns=['Unnamed: 0'])
dim_vessel["is_current"] = dim_vessel["is_current"].astype(int)
dim_vessel_type_final = pd.concat([dim_vessel, df_scraped_missing_imo]).reset_index(drop=True)
dim_vessel_type_final

,vessel_id,mmsi,imo,callsign,shipname,shiptype,start_date,end_date,is_current
0,6ac79e6d-1c8c-4621-b585-d0c886f855a4,357142000,1011783.0,9VAA3,ZEMIRA,80.0,2022-09-16 22:54:53+00:00,2262-04-11 23:47:16.854775807,1
1,be5321d2-649b-48ae-b7cc-d4c776b97651,319095800,1012763.0,ZGFH5,CLOUDBREAK,37.0,2022-09-12 07:49:38+00:00,2262-04-11 23:47:16.854775807,1
2,403a1036-17c9-4a98-b722-98254e4d3bea,565337000,1015909.0,C6XZ5,NORDIC VEGA,80.0,2022-09-17 11:40:09+00:00,2262-04-11 23:47:16.854775807,1
3,c6526282-f263-423d-9198-56d6c6791de3,566623000,1017971.0,D5KY9,CALA PAGURO,70.0,2022-09-14 03:25:18+00:00,2262-04-11 23:47:16.854775807,1
4,a08f1ac5-2956-493b-9718-3a999e7e0d53,566188000,1097830.0,9VFW4,ISANDA,80.0,2022-09-29 09:06:51+00:00,2262-04-11 23:47:16.854775807,1
...,...,...,...,...,...,...,...,...,...
12253,87337e78-cbc8-4f9e-9211-1d1af0474284,563065180,---,9V5800,KENKI 51,-1.0,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
12254,51395bf6-0599-48be-a216-e11ad4e95c10,525019550,9045431,PNJA,MT. JOHN CAINE,-1.0,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
12255,164c56ca-73c2-42ef-a1aa-43e620aa370f,525022315,---,YDA3675,TB.VARUNA BRAVE,-1.0,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
12256,2c99564e-06e1-41b3-a208-6f9ee3963f52,542582110,---,E6VW2,SPEEDY DOLPHIN,-1.0,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1
12257,dc944df3-9e32-4f50-95fe-59d0e38d39e8,538009551,9155157,V7A4880,HYUNDAI COSMOPIA,-1.0,1677-09-21 00:12:43.145224193,2262-04-11 23:47:16.854775807,1

In [16]:
dim_vessel_type_current = dim_vessel_type_final[dim_vessel_type_final['is_current'] == 1]
dim_vessel_type_1 = dim_vessel_type_current[["imo", "vessel_id", "mmsi"]]
df_type1_test = df_type1.merge(dim_vessel_type_1, on='mmsi', how='left')
df_type1_missing_imo = df_type1_test[df_type1_test["vessel_id"].isna()]
df_type1_missing_imo

,type,mmsi,status,turn,accuracy,lon,lat,time,imo,vessel_id
20,1,536295748,0.0,-128.0,0.0,103.76059,1.29099,2022-09-01T00:00:12Z,NaN,NaN
920,1,247408304,0.0,0.0,0.0,103.65780,1.29673,2022-09-01T00:05:26Z,NaN,NaN
1020,1,564741488,0.0,-128.0,0.0,103.65300,1.27692,2022-09-01T00:05:56Z,NaN,NaN
1067,1,637037768,0.0,3.0,0.0,103.67489,1.21466,2022-09-01T00:05:59Z,NaN,NaN
1434,1,537894446,0.0,-128.0,0.0,103.71957,1.25161,2022-09-01T00:08:20Z,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1045683,1,28251088,4.0,4.0,0.0,159.61379,1.24816,2022-09-02T02:50:54Z,NaN,NaN
1046360,1,705775454,3.0,-3.0,0.0,-8.37956,1.14495,2022-09-02T02:51:55Z,NaN,NaN
1046421,1,967131184,0.0,-105.0,1.0,103.75140,1.23794,2022-09-02T02:52:00Z,NaN,NaN
1047577,1,563503856,8.0,0.0,0.0,103.70451,1.22151,2022-09-02T02:53:47Z,NaN,NaN
1048756,1,457404993,0.0,-108.0,0.0,-175.99776,1.22032,2022-09-02T02:55:39Z,NaN,NaN

In [17]:
df_type1_valid = df_type1_test.dropna()
df_type1_valid

,type,mmsi,status,turn,accuracy,lon,lat,time,imo,vessel_id
0,1,563066530,0.0,-128.0,0.0,103.75931,1.27341,2022-09-01T00:00:10Z,9830197.0,d6d6a9c8-8e32-48f2-a261-0033159db9f3
1,1,563021460,0.0,-128.0,0.0,103.76273,1.26776,2022-09-01T00:00:10Z,---,f5533a4d-fa21-45ba-9e23-2de80060c752
2,1,566657000,8.0,-128.0,1.0,103.76005,1.29140,2022-09-01T00:00:10Z,9511909.0,a0b6f457-b541-4041-b6e9-d231d5aaad1b
3,1,563073340,0.0,-127.0,0.0,103.65893,1.28036,2022-09-01T00:00:10Z,9548081.0,b05b7a7b-19c6-478b-80e2-37170a382192
4,1,566386000,0.0,0.0,0.0,103.74943,1.23873,2022-09-01T00:00:10Z,9438327.0,658c2444-a9ba-45bd-a111-3e1ae62bc85d
...,...,...,...,...,...,...,...,...,...,...
1049184,1,566687000,8.0,0.0,1.0,103.62879,1.25453,2022-09-02T02:56:17Z,9647916.0,e3f923ee-4015-4a06-954c-62c399537507
1049185,1,563066530,0.0,-128.0,0.0,103.74430,1.24158,2022-09-02T02:56:17Z,9830197.0,d6d6a9c8-8e32-48f2-a261-0033159db9f3
1049186,1,563009860,0.0,-128.0,1.0,103.76022,1.29093,2022-09-02T02:56:18Z,9456513.0,76f2b113-d247-4e37-bbd0-d3a84bcd26df
1049187,1,566377096,15.0,0.0,1.0,103.75331,1.30632,2022-09-02T02:56:18Z,10350203,1c55a2fc-e16b-4816-b046-7a3bbe08069e
1049188,1,414482000,3.0,-128.0,1.0,103.72185,1.29890,2022-09-02T02:56:18Z,9880714.0,555c971b-2a2a-4032-9087-15b722be50fd

In [19]:
dim_location = pd.read_csv("dim_location_gridFilled.csv")
dim_location = dim_location.drop(columns=['Unnamed: 0'])
dim_location["grid"] = dim_location["grid"].astype(str)
df_location_for_fact_type_1 = dim_location[["lon", "lat", "location_id"]]
df_type1_valid = df_type1_valid.merge(df_location_for_fact_type_1, on=["lon","lat"], how='left')
df_type1_valid

,type,mmsi,status,turn,accuracy,lon,lat,time,imo,vessel_id,location_id
0,1,563066530,0.0,-128.0,0.0,103.75931,1.27341,2022-09-01T00:00:10Z,9830197.0,d6d6a9c8-8e32-48f2-a261-0033159db9f3,39f1eacd-1946-470c-998d-63e3a32a3d02
1,1,563021460,0.0,-128.0,0.0,103.76273,1.26776,2022-09-01T00:00:10Z,---,f5533a4d-fa21-45ba-9e23-2de80060c752,89e3cfa5-91e0-4cf3-a0a8-89d91cf9a1a0
2,1,566657000,8.0,-128.0,1.0,103.76005,1.29140,2022-09-01T00:00:10Z,9511909.0,a0b6f457-b541-4041-b6e9-d231d5aaad1b,45e2657d-220c-4143-b48e-e843ba89c8fe
3,1,563073340,0.0,-127.0,0.0,103.65893,1.28036,2022-09-01T00:00:10Z,9548081.0,b05b7a7b-19c6-478b-80e2-37170a382192,c9d23841-66e3-4f22-9ba6-9610c92d3cd6
4,1,566386000,0.0,0.0,0.0,103.74943,1.23873,2022-09-01T00:00:10Z,9438327.0,658c2444-a9ba-45bd-a111-3e1ae62bc85d,b4628780-f3bd-4638-a01e-7a4029a9c1e6
...,...,...,...,...,...,...,...,...,...,...,...
1047080,1,566687000,8.0,0.0,1.0,103.62879,1.25453,2022-09-02T02:56:17Z,9647916.0,e3f923ee-4015-4a06-954c-62c399537507,7049b364-1f69-4873-8de5-7a28c41518c4
1047081,1,563066530,0.0,-128.0,0.0,103.74430,1.24158,2022-09-02T02:56:17Z,9830197.0,d6d6a9c8-8e32-48f2-a261-0033159db9f3,a5e5b1c2-a82b-4b67-9f4d-2f8736d37c00
1047082,1,563009860,0.0,-128.0,1.0,103.76022,1.29093,2022-09-02T02:56:18Z,9456513.0,76f2b113-d247-4e37-bbd0-d3a84bcd26df,930da08f-5b5c-4bd3-a28c-b1923d2af9ab
1047083,1,566377096,15.0,0.0,1.0,103.75331,1.30632,2022-09-02T02:56:18Z,10350203,1c55a2fc-e16b-4816-b046-7a3bbe08069e,0602e865-b4ee-4148-b3b5-e9973dc6638f
1047084,1,414482000,3.0,-128.0,1.0,103.72185,1.29890,2022-09-02T02:56:18Z,9880714.0,555c971b-2a2a-4032-9087-15b722be50fd,e5d6ed14-1d3b-45ec-bf77-d0cd987f8bf6

In [20]:
df_type1_valid['time'] = pd.to_datetime(df_type1_valid['time'])

# Create 'time_id' column as a string representation of time
df_type1_valid['time_id'] = df_type1_valid['time'].dt.strftime('%H:%M:%S')

# Create 'date_id' column as a string representation of date
df_type1_valid['date_id'] = df_type1_valid['time'].dt.strftime('%Y-%m-%d')

df_type1_valid.head()

,type,mmsi,status,turn,accuracy,lon,lat,time,imo,vessel_id,location_id,time_id,date_id
0,1,563066530,0.0,-128.0,0.0,103.75931,1.27341,2022-09-01 00:00:10+00:00,9830197.0,d6d6a9c8-8e32-48f2-a261-0033159db9f3,39f1eacd-1946-470c-998d-63e3a32a3d02,00:00:10,2022-09-01
1,1,563021460,0.0,-128.0,0.0,103.76273,1.26776,2022-09-01 00:00:10+00:00,---,f5533a4d-fa21-45ba-9e23-2de80060c752,89e3cfa5-91e0-4cf3-a0a8-89d91cf9a1a0,00:00:10,2022-09-01
2,1,566657000,8.0,-128.0,1.0,103.76005,1.29140,2022-09-01 00:00:10+00:00,9511909.0,a0b6f457-b541-4041-b6e9-d231d5aaad1b,45e2657d-220c-4143-b48e-e843ba89c8fe,00:00:10,2022-09-01
3,1,563073340,0.0,-127.0,0.0,103.65893,1.28036,2022-09-01 00:00:10+00:00,9548081.0,b05b7a7b-19c6-478b-80e2-37170a382192,c9d23841-66e3-4f22-9ba6-9610c92d3cd6,00:00:10,2022-09-01
4,1,566386000,0.0,0.0,0.0,103.74943,1.23873,2022-09-01 00:00:10+00:00,9438327.0,658c2444-a9ba-45bd-a111-3e1ae62bc85d,b4628780-f3bd-4638-a01e-7a4029a9c1e6,00:00:10,2022-09-01

In [21]:
df_type1_valid['time'] = pd.to_datetime(df_type1_valid['time'])
df_type1_valid = df_type1_valid.sort_values('time', ascending=True)
df_type1_valid['message_type_1_id'] = [uuid.uuid4() for _ in range(len(df_type1_valid))]
df_type1_valid = df_type1_valid[["message_type_1_id", "location_id", "date_id", "time_id", "vessel_id", "status", "turn", "accuracy"]]
df_type1_valid.head()

,message_type_1_id,location_id,date_id,time_id,vessel_id,status,turn,accuracy
0,c1027c7b-6051-4b2b-bdd6-2de65fe7caaf,39f1eacd-1946-470c-998d-63e3a32a3d02,2022-09-01,00:00:10,d6d6a9c8-8e32-48f2-a261-0033159db9f3,0.0,-128.0,0.0
1,86ec5046-e4fe-4e2d-a440-6669fdaa5d8e,89e3cfa5-91e0-4cf3-a0a8-89d91cf9a1a0,2022-09-01,00:00:10,f5533a4d-fa21-45ba-9e23-2de80060c752,0.0,-128.0,0.0
2,e7d7ee60-aa28-448e-bb8a-a42cf2a82854,45e2657d-220c-4143-b48e-e843ba89c8fe,2022-09-01,00:00:10,a0b6f457-b541-4041-b6e9-d231d5aaad1b,8.0,-128.0,1.0
3,f126eb4e-b796-4721-9594-4fa86f47e140,c9d23841-66e3-4f22-9ba6-9610c92d3cd6,2022-09-01,00:00:10,b05b7a7b-19c6-478b-80e2-37170a382192,0.0,-127.0,0.0
4,d771d220-4733-4368-a248-30fc51f30806,b4628780-f3bd-4638-a01e-7a4029a9c1e6,2022-09-01,00:00:10,658c2444-a9ba-45bd-a111-3e1ae62bc85d,0.0,0.0,0.0

In [22]:
df_type1_valid.to_csv("fact_messages_type_1.csv")

In [25]:
dim_vessel_type_final[dim_vessel_type_final["vessel_id"] == "d6d6a9c8-8e32-48f2-a261-0033159db9f3"]

,vessel_id,mmsi,imo,callsign,shipname,shiptype,start_date,end_date,is_current
4591,d6d6a9c8-8e32-48f2-a261-0033159db9f3,563066530,9830197.0,9V5829,PSA POLARIS YS50,52.0,2022-09-30 20:08:47+00:00,2262-04-11 23:47:16.854775807,1

In [24]:
dim_vessel_type_final.to_csv("dim_vessel_type_final.csv")

In [ ]:
import psycopg2
from sqlalchemy import create_engine
import os

def connect_postgresql():
    # Testing connection and engine
    conn = psycopg2.connect(database="mmsi",
                            host="localhost",
                            user="postgres",
                            password=os.environ.get("PG_PASSWORD"),
                            port=5432)


    ## engine to write to postgres from dataframe
    engine= create_engine(f'postgresql://postgres:{os.environ.get("PG_PASSWORD")}@localhost:5432/mmsi')

    return conn, engine


def create_table(query, conn):
    try:

        cur = conn.cursor()
        cur.execute(query)
        conn.commit()  # Commit changes
        print("Created table successfully")
    except Exception as e:
        raise(e)

def insert_values(df, table_name, engine):
    try:
        df.to_sql(table_name, engine, if_exists='append', index=False, method='multi')
        print("successfully inserted values")
    except Exception as e:
        raise(e)

def close_postgresql_connection():
    conn.close()

In [ ]:
query_dim_date = '''
CREATE TABLE IF NOT EXISTS dim_date (
    date_id VARCHAR PRIMARY KEY,
    date DATE,
    day SMALLINT,
    month SMALLINT,
    year SMALLINT,
    day_of_week SMALLINT,
    weekend SMALLINT
);
'''

query_dim_time = '''
CREATE TABLE IF NOT EXISTS dim_time (
    time_id VARCHAR PRIMARY KEY,
    time TIME,
    hour SMALLINT,
    minute SMALLINT,
    second SMALLINT,
    is_noon SMALLINT,
    is_midnight SMALLINT,
    am_pm VARCHAR
);
'''

query_dim_location = '''
CREATE TABLE IF NOT EXISTS dim_location (
    location_id VARCHAR PRIMARY KEY,
    lon FLOAT,
    lat FLOAT,
    grid INTEGER,
    port VARCHAR
);
'''

query_dim_vessel_type = '''
CREATE TABLE IF NOT EXISTS dim_vessel (
    vessel_id VARCHAR PRIMARY KEY,
    mmsi INTEGER,
    imo VARCHAR,
    callsign VARCHAR,
    shipname VARCHAR,
    shiptype INTEGER,
    start_date TIMESTAMP,
    end_date TIMESTAMP,
    is_current SMALLINT
);
'''

query_fact_messsage_type_1 = '''
CREATE TABLE IF NOT EXISTS fact_message_type_1 (
    message_type_1_id VARCHAR PRIMARY KEY,
    location_id VARCHAR,
    date_id VARCHAR,
    time_id VARCHAR,
    vessel_id VARCHAR,
    status FLOAT,
    turn FLOAT,
    accuracy FLOAT,
    CONSTRAINT fk_location_id
        FOREIGN KEY (location_id)
        REFERENCES dim_location (location_id),
    CONSTRAINT fk_date_id
        FOREIGN KEY (date_id)
        REFERENCES dim_date (date_id),
    CONSTRAINT fk_time_id
        FOREIGN KEY (time_id)
        REFERENCES dim_time (time_id),
    CONSTRAINT fk_vessel_id
        FOREIGN KEY (vessel_id)
        REFERENCES dim_vessel (vessel_id)
);
'''

query_fact_messsage_type_5 = '''
CREATE TABLE IF NOT EXISTS fact_message_type_5 (
    message_type_5_id VARCHAR PRIMARY KEY,
    date_id VARCHAR,
    time_id VARCHAR,
    vessel_id VARCHAR,
    to_bow FLOAT,
    to_stern FLOAT,
    to_port FLOAT,
    to_starboard FLOAT,
    eta_month FLOAT,
    eta_day FLOAT,
    eta_hour FLOAT,
    eta_minute FLOAT,
    eta_draught FLOAT,
    eta_destination VARCHAR,
    CONSTRAINT fk_date_id
        FOREIGN KEY (date_id)
        REFERENCES dim_date (date_id),
    CONSTRAINT fk_time_id
        FOREIGN KEY (time_id)
        REFERENCES dim_time (time_id),
    CONSTRAINT fk_vessel_id
        FOREIGN KEY (vessel_id)
        REFERENCES dim_vessel (vessel_id)
);
'''

In [ ]:
df_type5.dtypes

In [ ]:
dim_vessel_type_final["shiptype"] = dim_vessel_type_final["shiptype"].astype(int)
dim_vessel_type_final.dtypes

In [ ]:
conn, engine = connect_postgresql()
create_table(query_dim_date, conn)

In [ ]:
insert_values(dim_date, "dim_date", engine)

In [ ]:
create_table(query_dim_location, conn)
insert_values(df_location, "dim_location", engine)

In [ ]:
create_table(query_dim_time, conn)
insert_values(dim_time, "dim_time", engine)

In [ ]:
create_table(query_dim_vessel_type, conn)
insert_values(dim_vessel_type_final, "dim_vessel", engine)

In [ ]:
create_table(query_fact_messsage_type_1, conn)
insert_values(df_type1_valid, "fact_message_type_1", engine)

In [ ]:
len(df_type1_valid["location_id"].unique())